#spinner {
	height: 50vh;
	width: 98vw;
}

.input-line {
	height: 3rem;
}

.__margin-none {
	margin: 0;
}

.svg_trash {
	position: absolute;
	right: 0;
	top: 4px;
	display: none;
	height: 32px;
	width: 32px;
	fill: rgb(9, 105, 105);
	z-index: 1;
	background-color: transparent !important;
	box-shadow: none !important;
	cursor: pointer;
}

.table__row {
	position: relative;	
}
.table__row:hover .svg_trash {
	display: block;
}

.display-none {
	display: none !important;
}